apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: users-service
spec:
  rules:
    - host: users.example.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: users-service
                port:
                  number: {{ .Values.service.port }}
