apiVersion: v1
kind: Service
metadata:
  name: users-service
  labels:
    app: users-service
spec:
  selector:
    app: users-service
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      protocol: TCP
